// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.answer {
  background-color: bisque;
  border-left: 5px;
  border-left-style: solid;
  border-left-color: coral;
  padding-left: 8px;
}
